
*{
    text-decoration: none;
    list-style: none;
  
    font-family: 'Xanh Mono',
    monospace;
}

body {
    font-family: montserrat;
}

nav {
    height: 80px;
    width: 90%;
}

label.logo {
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
    
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-size: 17px;
    padding: 7px 7px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #4C3FC9;
    }

    #check:checked~ul {
        left: 0;
    }
}

.ext{
    font-size:40pt;
    
    
}

h1{
    color: rgb(75, 24, 24);
}
.colorj{
    color:blue
}
.first{
    width: 40%;
    float: left;
    margin-left: 7%;
    padding-left: 2%;
}
.first img{
    width: 100%;

}

section{
    height: 500px;
    padding-left: 50px;
    padding-bottom: 150px;

}
.btn{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 10px 40px;

}

.workking{
    background-color:#F8F9FC;

}

.lastet{
    padding-top: 50px;
    
   Font style: Bold;
   text-align: center; 
   vertical-align:top;
   font-size:45pt
}

.last-color {
    border-radius: 15px;
    background-color: white;
    text-justify: center;


}
.lastl-try{
    width: 100%;
    padding-bottom: 400px;
    
}

#full{
    margin: 20px;
   width: 26%;
   box-sizing: content-box;
  border: 15px solid white;
}
.img-circle
{
   padding: 20px 0 30px;
}

.inquiry{
    border: 1px solid red;
}


.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    
   
}

.container img {
    width: 100%;
    height: 250px;
    padding-top:60px;
}

.container .btn {
    position: absolute;
    top: 75%;
    left: 86%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container .btn:hover {
    background-color: black;
}



.imgbtn{
    position: absolute;
    top: 75%;
    left: 20%;
    transform: translate(-50%, -80%);
    
    
    color: white;
    font-size: 46px;
    padding: 12px 24px;
    border: none;
    
    border-radius: 5px;
    text-align: center;


    

}


* {
    box-sizing: border-box;
}

input[type=text],select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {

    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.containerr {

    margin-left: 15%;
    width: 70%;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 100px;
    
}
footer{
    text-align: center;

}

